* {
    margin: 0;
    padding: 0;
}
body {
    background: #000 none no-repeat scroll 0 0;
    color: black;
    font-size: 130%;
    color: white;
    text-align: center;
    
}
header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;  
    padding: 24px;
    z-index: 2;
    display: block;
    margin: auto;
    vertical-align: baseline;
}
.container{
    font-family: 'Cabin Sketch', sans-serif;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
main{
    font-weight: bold;
}
/*Deixou de ser id e virou uma classe pois é usado em dois lugares, no primeiro container e no sexto, por isso também não dá pra colocar dentro do container */
.intro{
    background-image: url(imagens/one.png);
}
/* Deixou de id e passou a ser uma classe, por ser usada em mais de um local com diferentes medidas*/
.motivos{
    background-image: url(imagens/motivos.jpg);
}
/* Virou id pois é usado apenas em uma tag*/
#primeiro-container{
    padding-top: 150px;
    height: 580px;
}
/* Virou id pois é usado apenas em uma tag*/
#segundo-container{
    padding-top: 50px;
    height: 1020px;
}
/* Extingui o id depoimentos, coloquei o atributo que estava nele aqui e transformei isso aqui em id (antes era classe) -- por ser usada apenas em um tag é mais indicado que seja id */
#terceiro-container{
    background-image: url(imagens/depoimentos.png);
    padding-top: 80px;
    height: 620px;
}
/* Virou id pois é usado apenas em uma tag -- e também fiz a fusão daquele antigo id "informacoes-vaga", que tinha apenas o atributo back-image e coloquei aqui dentro*/
#quarto-container{
    background-image: url(imagens/infos.jpg);
    padding-top: 80px;
    height: 780px;
}

.sexto-container{
    padding-top: 100px;
    height: 200px;
}
#galeria{
    height: 700px;
    padding-top: 80px;
    background-image: url(imagens/footer.jpg);
}
.logo {
    margin-top: -5px;
    box-sizing: border-box;
    left: 20%;
    position: absolute;
    display: inline-block;
    padding-top: 0;
}
.vaga {
    font-family: 'Kosugi Maru', sans-serif;
    padding: 12px;
    margin: 0;
    border: 2px solid black;
    border-radius: 15px;
    width: 224px;
    height: 47px;
    top: 20px;
    right: 20%;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    color: #548cc3; 
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 1.5em white, inset 0 0 .5em #000;
    transition: translate 0s, box-shadow 0s;
}
.vaga:hover,
.vaga:focus {
    transition-delay: 0s, 1s;
    transform: scale(1.1);
}

.iframe {
    max-width: 90%;
	margin: 0 auto;
}

h1 {
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: normal;
}
h2 {
    font-size: 20px;
    padding-bottom: 15px;
}
h3{
    font-size: 15px;
    margin-top: 10px;
}
span {
    font-weight: bold;
}
.span-azul {
    font-weight: bold;
    color: #548cc3;
}
.color{
    color: #548cc3;
}
.motivos ul {
    display: flex;
}
.motivos p{
    width: 80%;
    line-height: 1.1;
}

.motivos li{
    font-size: 17px;
    text-transform: none;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 10px;
    width: 100%;
}

.titulo-motivos{
    width: 250px;
    height: 35px;
    padding-top: 10px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #104E8B;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: white; 
    text-decoration: none;
    margin-bottom: 20px;
    transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    box-shadow: 0 0 .25em white;
}
#dif{
    width: 350px;
}
#quarto-container ul{
    display: flex;
}
.titulo-info{
    width: 280px;
    height: 35px;
    padding-top: 8px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #104E8B;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: white; 
    text-decoration: none;
    margin-bottom: 20px;
    transform: rotate(-2deg);
    box-shadow: 0 0 .25em white;
}
.lista-titulo:nth-child(1){
    margin-left: 5%;
}
.lista-titulo:nth-child(2){
    margin-left: 5%;
}
.lista-titulo-dois{
    width: 100%;
}
.lista-titulo-dois h2:nth-child(1){
    margin-left: 40%;
}
.lista-tecnologias{
    width: 100%;
}
.tecnologias{
    padding-right: 1%;
}
.lista-titulo p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    text-transform: none;
    width: 300px;
    text-align: center;
    padding-bottom: 10%;
    margin-left: -50%;
    padding-right: 5%;
}
.foto {
    border-radius: 100px;
    box-shadow: 0 0 1.0em #548cc3;
    margin-bottom: 20px;
}
blockquote{
    font-size: 18px;
    text-transform: none;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding-right: 0;
    padding-left: 10px;
    line-height: 1.1;
}
cite{
    color: #548cc3;
    font-size: 20px;
}
blockquote p{
    padding-bottom: 20px;
}
/*Extingui o id beneficios, coloquei o atributo aqui dentro e transformei em id essa antiga classe, por ser usada em apenas um local*/
#quinto-container{
    background-image: url(imagens/beneficios.jpg);
    padding-top: 80px;
    height: 700px;
}
#quinto-container ul {
    display: flex;
}
#quinto-container li{
    font-size: 18px;
    text-transform: none;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 15%;
}
#quinto-container p{
    width: 200px;
    line-height: 1.1;
    font-weight: bold;
}
.vaga2 {
    font-family: 'Kosugi Maru', sans-serif;
    padding: 13px;
    margin: 0;
    margin-top: 3%;
    margin-left: 40%;
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
    height: 60px;
    position: unset;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #548cc3; 
    text-decoration: none;
    background-color: black;
    display: inline-block;
    box-shadow: 0 0 1em #FFF, inset 0 0 .5em #000;
    transition: translate 0s, box-shadow 0s;
}
.vaga2:hover,
.vaga2:focus {
    transition-delay: 0s, 1s;
    transform: scale(1.1);
}
footer {
    background-image: url(imagens/footer.jpg);
    height: 150px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    opacity: 0.8;
    width: 100%;
}
footer ul{
    display: flex;
    
}
footer li{
    padding-left: 22%;
    width: 400px;
}
.soft{
    margin-top: 1%;
    margin-left:1%;
}
.bug{
    margin-top: -2%;
    text-align: center;
}
.underline{
    text-decoration: none;
}
.space1{
    padding-left: 25.5%;
}
.space2{
    padding-left: 24.5%;
}
.space3{
    padding-left: 20.5%;
}

